@CHARSET "UTF-8";

#layer-over-wrap {
    overflow : auto;
    padding : 10px;
/*     height: 100%; */
/*     background : rgba(242, 242, 242, 1); */
}

#layer-over-wrap .groups p.group-title {
    font-weight : bold;
    font-size : 14px;
    margin : 5px 0px;
    cursor : pointer;
}

#layer-over-wrap .groups p.group-title:hover {
    background: rgba(128, 128, 128, 0.3);
}

#layer-over-wrap .legends p:hover {
    text-decoration: underline;
}

#layer-over-wrap .legends ul {
    margin: 0px;
    padding-left: 15px;
    list-style: none;
}

#layer-over-wrap .legends ul li {
/*     padding: 0px 0px 10px 0px; */
}

#layer-over-wrap .legends ul li:hover {
    text-decoration: underline;
}