@CHARSET "UTF-8";

html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: 'Malgun Gothic';
    font-size: 12px;
}

* {
    font-family: 'Malgun Gothic' !important;
}

.hidden { display: none; }

.overflow { overflow: auto; }

.noClick { cursor: no-drop !important; }
.pointer { cursor: pointer !important; }

.noneBack { background: none !important; }
.noneBorder { border: none !important; }

.left { float: left; }

/* 171212 */
.tLeft { text-align: left; }
.tCenter { text-align: center; }
.tRight { text-align: right; }
.bold { font-weight: bold; }

/* 180208 */
.tBlankLeft { padding-left: 10px; }
.blankBottom { margin-bottom: 15px;}

.small { width: 25% !important; }
.middle { width: 50% !important; }
.wide { width: 98.5%; }
select.wide { width: 100% !important; }

/* 171212 생성 */
.btnDiv{
    text-align: center;
    padding: 10px;
}

/* 171212 생성 */
.blackBtn {
    background: #333333;
    color: white;
    border: 1px #333333 solid;
    font-size: 12px;
    font-weight: 800;
    cursor: pointer;
    padding: 5px;
}

.greenBtn {
    background: #009944;
    color: #ffff;
    border: 1px #333333 solid;
    font-size: 12px;
    font-weight: 800;
    cursor: pointer;
    padding: 5px;
}

.greenBtn:hover {
    background: #4cb77c;
}

.redBtn {
    background: #d93e3e;
    color: #ffff;
    border: 1px #333333 solid;
    font-size: 12px;
    font-weight: 800;
    cursor: pointer;
    padding: 5px;
}

.redBtn:hover {
    background: #E47878;
}

.marginBottom {
   margin-top: 10px;
   margin-bottom: 10px;
}

/* 171212 생성 */
.whiteBtn {
    border: 1px #cccccc solid;
    background: #ffffff;
    font-size: 12px;
    font-weight: 800;
    color: #666;
    cursor: pointer;
    padding: 5px;
}

/* 171212 생성 */
.whiteBtn:hover {
    background: #cccccc;
}

/* 181210 추가 */
.innerBtn{
	border: none;
    background: #ffffff;
    font-size: 12px;
    font-weight: 800;
    color: #666;
    cursor: pointer;
    padding: 5px;
}
.innerBtn:hover{
    color: black;
    font-weight: bold;
}

.imgBtn {
    background: none;
    border: none;
    padding: 5px 2px 0px 2px;
    outline: none;
    /* margin-top:2px; */
}

button.locBtn {
    background: url(/xeus/res/img/places_normal.png) no-repeat;
    width: 16px;
    height: 16px;
    border: none;
    margin: 5px 5px 0px 5px;
    outline: none;
}

button.locBtn:hover {
    background: url(/xeus/res/img/places_over.png) no-repeat;
    width: 16px;
    height: 16px;
    border: none;
}

/* 180424 정보 버튼 추가 */
button.infoBtn {
    background: url(/xeus/res/img/icon_info_normal.png) no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    border: none;
    margin: 5px 5px 0px 5px;
}

button.infoBtn:hover {
    background: url(/xeus/res/img/icon_info_over.png) no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    border: none;
}

button.delBtn {
    background: url(/xeus/res/img/delete_normal.png) no-repeat;
    width: 16px;
    height: 16px;
    border: none;
    margin: 5px 5px 0px 5px;
}

button.delBtn:hover {
    background: url(/xeus/res/img/delete_over.png) no-repeat;
    width: 16px;
    height: 16px;
    border: none;
}

button.detailBtn, button.mngBtn {
    background: url(/xeus/res/img/settings_normal.png) no-repeat;
    width: 16px;
    height: 16px;
    border: none;
    margin: 5px 5px 0px 5px;
}

button.detailBtn:hover, button.mngBtn:hover {
    background: url(/xeus/res/img/settings_over.png) no-repeat;
    width: 16px;
    height: 16px;
    border: none;
}

/* .blueBtn { background: #06A6E1; color: white; border: none; cursor: pointer; padding: 5px; } */
/* 171212 */
.blueBtn {
    background: #4582ac;
    color: white;
    border: none;
    font-size: 13px;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
}

/* 171212 추가 */
.grayBtn {
	color: #ffffff !important;
	/* padding: 1px 10px; */
	border: 2px solid #505050 !important;
	background-color: #505050;
	padding: 5px;
	font-size: 12px;
    font-weight: 800;
    cursor: pointer;
}

.grayBtn:hover{
	border: 2px solid #4582ac !important;/* #009789 */
	background-color: #4582ac;/* #009789 */
}

/* 171212 수정 */
.disableBtn {
    /* padding: 1px 10px;
    color: #99999b !important;
    border: 1px solid rgb( 208,208,208 );
    text-shadow: 1px 1px 1px #fff;
    background-color: #e1e1e1; */
    /* 171212 */
    padding: 5px;
    color: #999999;
    font-size: 12px;
    font-weight: 800;
    border: 1px solid rgb( 208,208,208 );
    text-shadow: 1px 1px 1px #fff;
    background-color: #e1e1e1;
    outline: none;
}

.overlay-side-bar > button[active=active] {
    /* background: #06A6E1 !important; */
    /* 171212 */
    background: #4582AC !important;
}


/* #id */
#layout-body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/***************************************/
/* 화면 위쪽 North Pane 설정
/***************************************/

/* layout 위 영역 */
#layout-body>#layout-north {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #30303A;
}

/* north 메뉴 영역 */
#layout-body>#layout-north>#north-menu {
    /* position: relative;
    width: 100%;
    height: 100%;
    background: #3B3B3B; */
    /* 171212 */
    position: relative;
    width: 100%;
    height: 50px;
    background: #3E3F48;
}

/* 왼쪽으로 붙는 메뉴 그룹*/
.west-menu-group {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #30303a;
}

/* WEST Pane 슬라이드 열기/접기 */
#west-slide-btn {
    display: none;
    float: left;
    width: 20px;
    height: 40px;
    cursor: pointer;
    color: white;
    outline: none;
    background: transparent;
    border: none;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 5px;
}

/* 로고 이미지 */
#system-logo {
    float: left;
    width: 252px;
    height: 40px;
    outline: none;
    background: transparent;
    border: none;
    padding: 0px;
    /* margin-top: 5px; */
    margin-bottom: 5px;
    margin-left: 46px;
    margin-right: 20px;
}

/* 171212 삭제 */
/* 메뉴 버튼  스타일*/
.menu-button {
    /* float: left;
    width: 80px;
    height: 40px;
    cursor: pointer;
    color: white;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    border-left: none;
    border-right: 1px solid #ffffff;
    border-top: none;
    border-bottom: none;
    margin-top: 5px;
    margin-bottom: 5px; */

}

/* 오른쪽에 붙이는 메뉴 그룹*/
.east-menu-group {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #30303a;
}

/* EAST Pane 슬라이드 열기/접기 */
#east-slide-btn {
    display: none;
    float: right;
    width: 20px;
    height: 40px;
    cursor: pointer;
    color: white;
    outline: none;
    background: transparent;
    border: none;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 5px;
}

/*
171212
메인 메뉴 css 생성
*/
#main-menu-group {
/* 	text-align: center; */
	text-align: right;
	margin-right: 55px;
	padding-right: 25px;
}
#main-menu-group>.menu-button {
    float: left;
    height: 39px;
    cursor: pointer;
    color: #b8d4e7;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    border: none;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 5px;
	color: rgb(170, 170, 170);
}
#main-menu-group>.menu-button:hover {
    color: white !important;
}
/* 171212 생성 */
#main-menu-group input[type=text] {
    height: 44px;
}

/* 메인 메뉴의 첫번째 항목 스타일, 왼쪽에 바 생성*/
#main-menu-group>.menu-button:first-child {
    /* border-left: 1px solid #ffffff; */
    /* 171212 */
}

/* 메뉴버튼, 슬라이드 on/off button hover */
.menu-button:hover, #left-slide-btn:hover, #right-slide-btn:hover {
    /* background: #06A6E1; */
    /* 171212 */
}

/*
171221 로그아웃 버튼 css 생성
 */
/* #east-slide-group> */#btn-logout {
    /* float: left; */
    position: absolute;
    top: 0;
    right: 30px;
    height: 100%;
    cursor: pointer;
    color: rgb(170, 170, 170);
    outline: none;
    font-size: 13px;
    font-weight: bold;
    background: transparent;
    border: none;
    margin-left: 25px;
    margin-right: 25px;
}
#btn-logout:hover {
    color: white;
}

/* 180430 좌표 표시 span css 지정 */
#north-menu #coorX, #north-menu #coorY {
    position: absolute;
    top: 0;
    /* right: 150px; */
    width: 80px;
    height: 100%;
    color: rgb(170, 170, 170);
    outline: none;
    font-size: 13px;
    font-weight: bold;
    background: transparent;
    border: none;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 18px;
}

/***************************************/
/* 지도영역 설정
/***************************************/
#layout-body>#layout-center {
    position: relative;
    height: 100%;
}

/* 지도영역 */
#layout-body>#layout-center>.map-target {
    width: 100%;
    height: 100%;
    border-left: 1px solid #c0c0c0;
    background: #f2f2f2;
}

/* 오버뷰영역 */
#layout-body>#layout-center>#xeus-overview {
    width: 150px;
    height: 150px;
    border: 3px solid #c0c0c0;
    position: absolute;
    right: 5px;
    bottom: 55px;
}

/***************************************/
/* 메인화면 좌우 Overlay Pane 설정
/***************************************/
/* overlay title bar class 공통 스타일 */
.overlay-bar {
    width: 100%;
    height: 30px;
    /* 171212 */
    /* background: #4E6992; */
    background: #3e3f48;
    border-bottom: 1px solid #30303A;
}
.overlay-bar #closeBtn, #gridpane_btn_close {
    float: right;
    width: 40px;
    height: 26px;
    cursor: pointer;
    color: white;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    margin-top: 3px;
    margin-bottom: 2px;
    border: none;
}

.overlay-bar .listBtn {
    float: right;
    width: 40px !important;
    height: 26px !important;
    cursor: pointer;
    color: white;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    margin-top: 3px;
    margin-bottom: 2px;
    border: none;
}

.overlay-bar .listBtn .open {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.overlay-bar .listBtn .close {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

#overlay-east-bar > .blueBtn {
	float: right;
	/* margin-top: 5px; */
	padding: 3px;
	height: 30px;
    margin: 0px;
}
.overlay-bar > .overlay-bar-title {
    font-size: 14px;
    line-height: 30px;
    margin-left: 10px;
    color: white;
}

.overlay-bar>.overlay-bar-button {
    /* float: right;
    width: 40px;
    height: 26px;
    cursor: pointer;
    color: white;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border-top: none;
    border-bottom: none;
    margin-top: 2px;
    margin-bottom: 2px; */
    /* 171212 */
    float: right;
    width: 40px;
    height: 26px;
    cursor: pointer;
    color: white;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    margin-top: 2px;
    margin-bottom: 2px;
    border: none;
}
/* overlay-bar 버튼 hover */
.overlay-bar>.overlay-bar-button:hover {
    /* 171212 일단 삭제 */
    /* background: #06A6E1; */
}

/* overlay-var-button class 공통속성 */
.overlay-bar>.icon-button {
    float: right;
    width: 26px;
    height: 26px;
    margin: 2px;
}

/* 지도 왼쪽(weat) overlay pane */
#layout-body>#layout-center>#center-overlay-west {
    /* 171212 */
    /* border-top: 1px solid #c0c0c0; */
    position: absolute;
    left: -310px;
    top: 0px;
    width: 300px;
    height: 100%;
    float: left;
    /* background: rgba(242, 242, 242, 1); */
    background: #ffffff;
}
/* 왼쪽 WEST Contents */
#overlay-west-side-bar {
    /* width: 70px;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: none;
    background: #3B3B3B;
    top: 1px; */
    /* 171212 */
    width: 70px;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: none;
    background: #3e3f48;
    top: 0px;
    border-right: 1px #303035 solid;
}
#layout-body>#layout-center>#center-overlay-west>#overlay-west-contents {
    /* position: absolute; */
    width: 100%;
    height: 100%;
}

#overlay-west-contents #layer-over-wrap .legends {
    font-weight: bold;
    cursor: default;
    margin-left: 10px;
}

#overlay-west-contents #layer-over-wrap .legends:hover {
    /* background: rgba(241, 241, 241, 0.5); */
}

#overlay-west-contents #layer-over-wrap .legends p {
    padding: 0px;
    margin: 0px;
    height: 30px;
}

#overlay-west-contents #layer-over-wrap .legends .sym-icon {
    width: 30px;
    height: 30px;
    margin: 0px 5px;
	cursor: pointer;
    vertical-align: middle;
}

#overlay-west-contents #layer-over-wrap .legends svg {
	cursor: pointer;
    margin: 0px 5px;
}

#overlay-west-contents #layer-over-wrap .legends input[type=checkbox] {
    vertical-align: middle;
}

#overlay-west-contents #layer-over-wrap .legends input[type=checkbox], label {
    cursor: pointer;
}

/* WEST 지도기능 메뉴 탭 */
#center-overlay-west-tab {
    /* left: 0px;
    top: 0px;
    position: absolute;
    border-top: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    width: 40px;
    height: 100%;
    background: #2B5E93; */
    left: 0px;
    top: 0px;
    position: absolute;
    border-left: 1px solid #30303A;
    border-right: 1px solid #30303A;
    width: 40px;
    height: 100%;
    background: #3e3f48;
}

/* WEST 지도메뉴 탭 버튼 스타일 */
#center-overlay-west-tab>.menu-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: white;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    border: none;
    margin: 0px;
    background: #3e3f48;
    border-bottom: 1px solid #303035;
    /* margin-top: 0px;
    margin-bottom: 1px; */
}

#center-overlay-west-tab>.menu-button:hover {
    background: #4582AC;
    /* margin-top: 0px;
    margin-bottom: 1px; */
}

/* 171212 css3부터 last-child가 적용된다고 함.
그냥 마지막에 줄 하나 넣든지 빼든지 해야될 듯. */
/* #overlay-west-side-bar>.menu-button:last-child {
    border-buttom: none !important;
} */

/* 171212 추가 */
#overlay-west-side-bar>.menu-button:first-child {
    border-top: none !important;
}

#overlay-west-side-bar>.menu-button {
    /* width: 100%;
    height: 40px;
    cursor: pointer;
    color: white;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    margin: 0;
    border-bottom: 1px solid white !important;
    border-right: none !important; */
    /* 171212 */
    width: 70px;
    height: 80px;
    cursor: pointer;
    color: white;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    margin: 0;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px #303035 solid;
    border-top: 1px #65656d solid;
}

#overlay-west-side-bar>.menu-button>img {
	width: 40px;
	height: 40px;
}

/*
#center-overlay-west-tab>.menu-button:first-child {
    border-top: 1px solid #ffffff;
    margin-top: 30px;
}
*/

/* 지도 오른쪽(east) overlay pane */
#layout-body>#layout-center>#center-overlay-east {
    border-left: 1px solid #30303A;
    border-top: 2px solid #30303A;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 0px;
    height: 100%;
    background: rgba(242, 242, 242, 0.7);
    z-index: 1;
}

/**********************************/
/* CCTV 오버레이 CSS */
/**********************************/

/* CSS2까지는 콜론(:)이 하나이고, CSS3에서는 콜론이 2개가 된것이다 */
.cctv-overlay {
    position: absolute;
    background-color: #303035;
    padding: 0px;
    border-radius: 2px;
    border: 1px solid #000;
    bottom: 2px;
    left: -40px;
    min-width: 260px;
    /* max-height : 300px; */
    /* overflow: scroll; */
}

.cctv-overlay::after, .cctv-overlay::before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.cctv-overlay::after {
    border-top-color: #3b3b3b;
    border-width: 10px;
    left: 40px;
    margin-left: -10px;
    border-width: 10px;
}

.cctv-overlay::before {
    border-top-color: #3b3b3b;
    border-width: 10px;
    left: 40px;
    margin-left: -10px;
}

.cctv-overlay-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 5px;
}

.cctv-overlay-closer:hover::after {
    color: #06A6E1;
    content: "✖";
}

.cctv-overlay-closer::after {
    color: #ffffff;
    content: "✖";
}

/***********************************/
/* 팝업에서 CCTV 목록 보여주기 CSS */
/***********************************/
.cctv-overlay-content-item {
    padding: 0 0 0 0;
    display: table;
    height: 32px;
    vertical-align: middle;
    background: #303035;
    /* margin: 1px; */
    border: 1px solid rgba(0, 0, 0, 1);
    /* border-top: 1px solid #cccccc; */
}

.cctv-overlay-content-item:hover {
	background: #3e3f48;
}

.cctv-overlay-content-item:first-child .cctv-overlay-content-img-div {
    border: none;
}

.cctv-overlay-content-item:first-child .cctv-overlay-content-txt-div {
    border: none;
}

.cctv-overlay-content-img-div {
    margin: 0px;
    border: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cctv-overlay-content-img {
    margin: 0px;
    border: 0;
    padding: 0;
    vertical-align: middle;
    -webkit-filter: sepia(0);
    filter: sepia(0);
    width: 32px;
    height: 32px;
}

.cctv-overlay-content-img:hover {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}

.cctv-overlay-content-txt-div {
    width: 100%;
    /* border-left: 1px solid #cccccc; */
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cctv-overlay-content-txt {
    margin: 0;
    margin-left: 5px;
    color: #ffffff;
    font-size: 13px;
    cursor: default;
}

.cctv-overlay-content-txt:hover {
    color: #06A6E1;
    cursor: pointer;
}

/***********************************/
/* 가상 지도영역 스타일      */
/***********************************/
#virtual-map-boundary {
    position: absolute;
    left: 40px;
    top: 0px;
    width: 1000px;
    height: 700px;
    background: transparent; /* rgba(35, 59, 85, 0.5); */
    zIndex: 1;
    pointer-events: none;
    margin: 0;
    padding: 0 0 0 0;
    zIndex: 1;
}

/***********************************/
/* CCTV영상보기 Dialog 타이틀      */
/***********************************/
.xeus-dialog-title-div {
    margin: 0;
    /* margin-top: 8px; */
    padding: 0 0 0 0;
    display: table;
}

.xeus-dialog-title-icon {
    margin: 0;
    border: 0;
    width: 30px;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}

.xeus-dialog-title-txt {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    border: 0;
    margin-left: 10px;
    font-size: 13px;
}

/* Jquery Dialog Hack.....*/
.ui-dialog {
    padding: 0;
    margin: 0;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0px;
    margin: 1px;
    /* float: left; */
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.hide-title-bar .ui-dialog-titlebar {
    display: none;
}

/* dialog에 새창으로 열기 버튼 스타일 */
.ui-dialog-titlebar-newwin {
    position: absolute;
    right: 2em;
    top: 50%;
    width: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
}

/* Jquery Dialog Hack.....*/
.ui-dialog .ui-dialog-title {
    padding: 0;
    /* margin: 0.5em 1.0em; */
}
/* Jquery Dialog Hack.....*/
.ui-dialog .ui-dialog-content {
    padding: 0;
    background: #303035;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin-top: 0;
    padding: 0;
}

/* Jquery Dialog Hack.....*/
.ui-draggable-helper {
    z-index: 5000;
}

.ui-widget-header {
    border: 0;
}
/* Jquery round Hack ....*/
.ui-corner-all {
    border-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
}

/************************************************************/
#overlay-east-contents {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px;
    /* padding: 10px; */
    border: 0px;
    height: 100%;
}

#overlay-east-contents table.list {
    color: #666;
    width: 100%;
}

#overlay-east-contents table.list th:first-child, #overlay-east-contents table.list td:first-child {
    border-left: none;
}

#overlay-east-contents table.list th {
	height: 30px;
	color: white;
    background: #3b3b3b;
    border-left: 1px solid #30303A;
    border-bottom: 1px solid #30303A;
}

#overlay-east-contents table.list td {
    color: white;
    height: 30px;
    background: #333;
    border-left: 1px solid #30303A;
    border-bottom: 1px solid #30303A;
}

#overlay-east-contents table.list input {
	padding-left: 10px;
	color: white;
}

#overlay-east-contents table.list select, input {
	background: none;
	border: none;
	outline: none;
}

#overlay-east-contents table.list select {
	color: white;
	background: #333;
}

#overlay-east-contents .gridster>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#overlay-east-contents .gridster>li {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px
}

#overlay-east-contents #addBtn {
    background: #3b3b3b;
    color: #ffffff;
    border: none;
    margin: 0px;
    width: 100% !important;
    height: 100%;
}

/*
 * 180411 이은규
 * CCTV 속성정보 css 추가
 */

#cctvInfo {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px;
    /* border: 0px; */
    /* height: 100%; */
    width: 375px;
    height: 280px;
    background: #3e3f48;
    border: 1px solid #30303A;
    /* padding: 10px; */
    /* overflow : hidden; */
}

#cctvInfo #title-bar {
    width: 100%;
    height: 35px;
    background: #3e3f48;
    border-bottom: 1px solid #30303A;
}

#cctvInfo #title-bar .title {
    color: #fff;
    /* float: right;
    width: 280px; */
    float: left;
    font-size: 16px;
    margin: 10px 0px 0px 10px;
}

#cctvInfo #title-bar #closeBtn {
    float: right;
    width: 40px;
    height: 33px;
    cursor: pointer;
    color: white;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    margin-top: 3px;
    margin-bottom: 2px;
    border: none;
}

#cctvInfo table.list {
    color: #666;
    width: 100%;
}

#cctvInfo table.list th:first-child, #cctvInfo table.list td:first-child {
    border-left: none;
}

#cctvInfo table.list th {
    min-width: 50px;
	height: 35px;
	color: white;
    background: #3b3b3b;
    border-left: 1px solid #30303A;
    border-bottom: 1px solid #30303A;
}

#cctvInfo table.list td {
    color: white;
    font-size: 14px;
    height: 30px;
    background: #333;
    border-left: 1px solid #30303A;
    border-bottom: 1px solid #30303A;
    padding: 5px 0px 5px 10px;
}

#cctvInfo table.option {
    color: #666;
    width: 100%;
}

#cctvInfo table.option td {
    color: white;
    width: 65px;
    height: 30px;
    background: #333;
    border: none;
}

#cctvInfo table.option td label {
    cursor: default;
}

/*
 * 180506 이주영
 * CCTV 속성정보 css 추가
 */

#vectorInfo {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px;
    /* border: 0px; */
    /* height: 100%; */
    width: 331px;
    max-height: 600px;
    background: #3e3f48;
    border: 1px solid #30303A;
    /* padding: 10px; */
    /* overflow : hidden; */
}

#vectorInfo #title-bar {
    width: 100%;
    height: 35px;
    background: #3e3f48;
    border-bottom: 1px solid #30303A;
}

#vectorInfo #title-bar .title {
    color: #fff;
    /* float: right;
    width: 280px; */
    float: left;
    font-size: 16px;
    margin: 10px 0px 0px 10px;
}

#vectorInfo #title-bar #closeBtn {
    float: right;
    width: 40px;
    height: 33px;
    cursor: pointer;
    color: white;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    margin-top: 3px;
    margin-bottom: 2px;
    border: none;
}

#vectorInfo table.list {
    color: #666;
    width: 100%;
}

#vectorInfo table.list th:first-child, #vectorInfo table.list td:first-child {
    border-left: none;
}

#vectorInfo table.list th {
    min-width: 50px;
	height: 30px;
	color: white;
    background: #3b3b3b;
    border-left: 1px solid #30303A;
    border-bottom: 1px solid #30303A;
}

#vectorInfo table.list td {
    color: white;
    height: 30px;
    background: #333;
    border-left: 1px solid #30303A;
    border-bottom: 1px solid #30303A;
    padding: 5px 0px 5px 10px;
}

#vectorInfo table.option {
    color: #666;
    width: 100%;
}

#vectorInfo table.option td {
    color: white;
    width: 65px;
    height: 30px;
    background: #333;
    border: none;
}

#vectorInfo table.option td label {
    cursor: default;
}

/***********************************/
/* 하단 좌표, 주소 표시줄      	   */
/***********************************/
#overlay-south-side-bar {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 85px;
    width: 100%;
    display: block;
    z-index: 0;
    background: #3e3f48;
    border-left: 1px solid #30303A;
    border-right: 1px solid #30303A;
    text-align: center;
}

#overlay-south-side-bar #coorX, #overlay-south-side-bar #coorY {
    color: rgb(170, 170, 170);
    font-size: 13px;
    font-weight: bold;
    background: transparent;
    line-height: 40px;
    margin: 0 5px;
}

#overlay-south-side-bar #addr {
    position: absolute;
    right: 100px;
    color: rgb(170, 170, 170);
    font-size: 13px;
    font-weight: bold;
    background: transparent;
    line-height: 40px;
    margin: 0 5px;
}

#contextMenu{
    width: 150px;
    height: 153px;
    position: absolute;
    top: 50px;
    right: 0px;
    background: #3e3f48;
    z-index: 99;
    display: none;
    border-top: 1px solid #30303A;
    border-left: 1px solid #30303A;
    border-bottom: 2px solid #30303A;
    border-right: 2px solid #30303A;
}

#contextMenu .item:first-child {
    border-top: none !important;
}
#contextMenu .item {
    width: 150px;
    height: 50px;
    cursor: pointer;
    color: #a7a7aa;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    margin: 0;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px #303035 solid;
    border-top: 1px #65656d solid;
    text-align: center;
    line-height: 50px;
    /* display: none; */
}

#contextMenu .item:hover {
    color: white;
}